[toolchain]
anchor_version = "0.31.1"
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.devnet]
xdegen_demo = "5eGtLMK9TktGR2sSFbnHarxhqio5Nh4ob9KfS8Tru7fF"

[programs.localnet]
xdegen_demo = "5eGtLMK9TktGR2sSFbnHarxhqio5Nh4ob9KfS8Tru7fF"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"